bcrypt            
blinker           
click             
colorama          
dnspython      
email_validator  
Flask             
Flask-Bcrypt     
Flask-Login       
Flask-SQLAlchemy  
Flask-WTF        
greenlet          
idna             
itsdangerous     
Jinja2            
MarkupSafe        
pip               
SQLAlchemy        
typing_extensions 
Werkzeug          
WTForms
Pillow